#happy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(45, 139, 182);
    color:white;
    width: max-content;
    overflow: hidden;
}
img{
    width:80%;
    height:80%;
}