.container {
  display: flex;
  width:100%;
  flex-direction: column;
  padding : 20px;
  padding-left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
  overflow: hidden;
}
#close{
  cursor: pointer;
  width:20px;
  height:20px;
}
form {
  width:100%;
    padding: 30px;
    align-items: center;
    color: gray;
    overflow: hidden;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(231, 228, 228);
    font-size: 16px;
    height:30px
  }
  .container input {
    padding: 5px;
  }
  input::placeholder{
    color: rgb(211, 211, 211);
  }
  
  button[type="submit"] {
    width: 95%;
    height: 30px;
    background-color: #4CAF50;
    color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    height: 50px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  